/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    box-sizing: border-box;
    background-image: url("img/colorful_dots_on_black.jpg");
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/******************************************************/
 .page-header {
    text-align: center;
    background-color: green;
    color:yellow;
    font-weight: 900;
    font-size: 24px;
    height:40px;
    padding-top:10px; 
    z-index: 0;
}
.page-header:before{
content: "";
width:33%;
height:50px;
background-color: red;
position: absolute;
top:0;
left:0;
 z-index: 1;
}
.page-header:after{
content: "";
width:33%;
height:50px;
background-color: blue;
position: absolute;
top:0;
right:0;
 z-index: 1;
}
.sidebar {
    float:left;
    width:15%;
    margin: 20px 20px;
    background-color: rgba(251, 255, 247, 0.9);
    border-radius: 10px;
}
.page-nav a {
    text-decoration: none;
    color:black;
}
.page-nav a:visited {
    color: gray;
}
.page-nav li, .page-nav header {
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 10px;
    margin-bottom: 10px;
}
.page-nav header {
    text-decoration: underline;
    font-weight: 900;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 20px;
}
.main-conteiner {
    float:left;
    width: 80%;
    margin-top: 20px;
    margin-right: 20px;
}
li a img {
    padding-right: 5px;
    display: inline;
    color:#808080;
}
article {
    background-color: rgba(251, 255, 247, 0.9);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}
article div::first-letter {
    font-size: 50px;
    font-weight: 900;
}
article div::first-line {
    font-style: italic;
}
#\#lorem, #\#HSLHSV, #RGBA, #webSafeColors, #RGB, #webColors {
    font-size: 22px;
    width:100%;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
}
#webColors {
    color: white;
    background-color: red;
}
#webSafeColors {
    background-color:#FFA500;
    color: black;
}
#RGB {
    background-color:yellow;
    color: black;
}
#RGBA {
    background-color:#008000;
    color: white;
}
#\#HSLHSV {
    background-color:#0000FF;
    color: white;
}
#\#lorem {
    background-color:#800080;
    color: white;
}
.lorem:hover {
    background-color:#800080;
}
.HSLHSV:hover {
    background-color:#0000FF;
}
.RGBA:hover {
    background-color:#008000;
}
.webSafeColors:hover {
    background-color:#FFA500;
}
.RGB:hover {
    background-color:yellow;
}
.webColors:hover {
    background-color: red;
}
.lorem, .webColors, .RGB, .webSafeColors, .RGBA, .HSLHSV {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 160px;
}
span:lang(la) {
    color: #4440A4;
    font-style: italic;
}
footer a{
	color: gray;
	font-style: italic;
}